/* Catppuccin Mocha */
* {
    bg-col:  #1e1e2e;
    bg-col-light: #313244;
    border-col: #cba6f7;
    selected-col: #45475a;
    blue: #89b4fa;
    fg-col: #cdd6f4;
    fg-col2: #f5c2e7;
    grey: #6c7086;
    mauve: #cba6f7;
    lavender: #b4befe;
}
