/* Catppuccin Mocha Wofi Theme */

* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 16px;
  font-weight: bold;
}

window {
  background-color: #1e1e2e;
  border: 2px solid #cba6f7;
  border-radius: 12px;
}

#input {
  margin: 15px;
  padding: 12px 15px;
  border: none;
  border-radius: 10px;
  background-color: #313244;
  color: #cdd6f4;
  font-size: 16px;
}

#input:focus {
  outline: none;
  border: 2px solid #cba6f7;
}

#input image {
  color: #cba6f7;
}

#inner-box {
  margin: 0 10px 10px 10px;
  background-color: transparent;
}

#outer-box {
  margin: 0;
  padding: 0;
  background-color: transparent;
}

#scroll {
  margin: 0;
  padding: 0;
}

#text {
  margin-left: 10px;
  color: #cdd6f4;
  font-size: 16px;
}

#entry {
  padding: 12px 15px;
  margin: 4px 5px;
  border-radius: 10px;
  background-color: transparent;
}

#entry:selected {
  background-color: #45475a;
  border: 1px solid #cba6f7;
}

#entry:selected #text {
  color: #b4befe;
}

#img {
  margin-right: 8px;
}
